/* Importar otro tipo de FONT */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


/* Revisar lo de border box y eso */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

/* Variables*/
:root {
    /* Colores */
    --white-color: #fff;
    --dark-color: #252525;
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --light-pink-color: #faf4f5;
    --medium-gray-color: #ccc;

    /* Font size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;

    /* Site max width */
    --site-max-width: 1300px;
}

/* Styles for whole site */

/* Especialmente al andar hacinedo el nav bar, es bueno quitar los circulos del UL */
ul {
    list-style: none;
}

/* Se quita los disenios del ANCHOR TAG para que no salga underlined, ni el color para clickearse*/
a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}

.section-content {
    max-width: var(--site-max-width); /*Garantizamos que el contenido tome como espacio algo menor al real*/
    margin: 0 auto;
    padding: 0 20px;
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block; /*Aseguramos que al ser un bloque se muestre una cosa sobre otra*/
    background: var(--secondary-color); 
    margin: 10px auto 0; /* 10 px superior, izq/der automatico - centra, 0 inferior*/
    border-radius: var(--border-radius-s);
    
}
/* ------------------------------------------------------------------------------------ */

/* NavBar Styling */

header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 5;
}

/* Ya para darle forma de NavBar */
header .navbar {
    display: flex;
    padding: 20px; /*padding de 20px en todo alrededor*/
    align-items: center; /*centrados verticalmente*/
    justify-content: space-between; /*Empujar a mis 2 elementos, el class logo y el menu a extremos*/
}

.navbar .nav-menu {
    display: flex; /*Indicar que queremos manejar el menu como un flex*/
    gap: 10px; /*Manejar el espaciado entre los elementos*/
}

/* Selector para jalar la clase hija de .nav-logo, que es a su vez hijo de .navbar */
.navbar .nav-logo .logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold)
}

/* Selector para jalar todas las clases hijas .nav-link de la clase .navbar */
/* Aqui se jalan pero los elementos del nav bar*/
.navbar .nav-menu .nav-link {
    padding: 10px 18px; /* padding vertical luego horizontal */
    color: var(--white-color); /*color del texto*/

    font-size: var(--font-size-m);

    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    background: var(--secondary-color); /*color del fondo*/
    color: var(--primary-color)
}

.navbar :is(#menu-close-button, #menu-open-button) {
    display: none;
}

/* Hero Section Styling */
.hero-section {
    /* min-height: indica que al menos esa altura va a tener, 
    y en este caso va a ser el 100%
    del viewport (el alto visible en pantalla */
    min-height: 100vh; 
    
    background: var(--primary-color);
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title {
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
    font-size: var(--font-size-xl);
    max-width: 70%; /* Se limita el ancho que puede tomar, en este caso de su contenedor*/
    margin-top: 8px;
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
    font-size: var(--font-size-m);
    max-width: 70%;
    margin: 24px 0 40px; /*Se da el margin como TOP RIGHT/LEFT BOTTOM */

}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-color);
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);

    transition: 0.3s ease;
}

/*podemos combinar un hover con la clase base de un div*/
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;

}

/* About Section */
.about-section{
    padding: 120px 0;
    background: var(--light-pink-color);
}

.about-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Espacio entre elementos gap */
    gap: 50px; 
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details {
    max-width: 50%;
}


.about-section .about-details .section-title {
    padding: 0px;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display:flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover{
    color: var(--secondary-color);
}

/*------------------------------------------------------------------------*/
/*Making it Responsive*/
/*rESPONSIVE MEDIA QUERY CODE FOR MAX WIDTH 900px*/
@media screen and (max-width: 900px) {
    /*ajustar la font size para pantallas pequenias*/
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    /* Antes de dibujar el header, hace que se vea borroso, mientras se tenga activado el show mobile */
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }

    /*Este es el equivalente a poner .navbar #menu-close-button, .navbar #menu-open-button*/
    .navbar :is(#menu-close-button, #menu-open-button){
        font-size: var(--font-size-l);
        display: block;
    }

    .navbar #menu-close-button {
        position: absolute; /*se sale del flex*/
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--white-color);

    }

    .navbar .nav-menu {
        display: block; /*Me pone las cosas en bloque como stackeando uno sobre otro*/
        
        background: var(--white-color);

        position: fixed;

        left: -300px; /*le quitamos cabal lo del width, para que se corra eso a la izquierda y no salga a inicio*/
        top: 0;

        width: 300px;
        height: 100%;

        display: flex;
        flex-direction: column; /*ordena en columna, deja padding entre elementos*/

        align-items: center;/*centrar horizontalmetne*/
        padding-top: 100px;
        background: var(--white-color);
        
        /*aligerar la transiion cuando se modifica el left*/
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0px; /*Esta clase es la que activa el toggle, con esto ya controlariamos que se muestre el menu*/
    }

    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        font-size: var(--font-size-l);

        display: block; /*Todos los elementos se ponen arriba o abajo, 
        siempre los pone en un liena neuva, ocupa todo el ancho disponible*/

        font-size: var(--font-size-l);

        margin-top: 17px;
    }

    .hero-section .section-content {
        flex-direction: column-reverse; /*muestra al revez la columna, ahora la img va priemro*/
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        text-align: center;
        justify-content: center;
    }

    .hero-section .hero-image-wrapper {
        max-width: 270px;
        margin-right: 0;
    }

    .hero-section .hero-details :is(.subtitle, .description),
    .about-section .about-details {
        max-width: 100%;
    }

    .hero-section .hero-details .buttons {
        justify-content: center;
    }

    .about-section .section-content {
        flex-direction: column-reverse;

        gap: 70px;
    }

    /* Agarra 100% de ancho y alto, pero no deja que pase de 250 px, mantiene una proporcion 1:1 - cuadrada */
    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

}
/*------------------------------------------------------------------------*/

